<launch>
        <param name="robot_description" command="cat $(find omni_description)/urdf/omni.urdf" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="omni1" pkg="phantom_omni" type="omni" />
        <node name="rviz" pkg="rviz" type="rviz" />
</launch>