<launch>

   <arg name="device_name" default="Default Device"/>
   <arg name="prefix" default="Geomagic"/>
   <param name="publish_rate" type="int" value="1000" />
   
 
   <group ns="$(arg prefix)">
	<!-- omni node publishes joint states on omni1_joint_states -->
        <node name="$(arg prefix)" pkg="geomagic_control" type="device_node" output="screen">
            <param name="device_name" type="str" value="$(arg device_name)"/>
            
        </node>
	
	<!-- robot_description tells robot_state_publisher where to find the omni's urdf description -->
        <param name="$(arg prefix)_robot_description" command="cat $(find geomagic_description)/urdf/geomagic.urdf" />

	<!-- robot_state_publisher reads Geomagic_joint_states and publishes corresponding tfs -->
        <node name="$(arg prefix)_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
	  <!--<remap from="joint_states" to="$(arg prefix)/joint_states" />-->
	  <remap from="robot_description" to="$(arg prefix)_robot_description" />
	</node>
	</group>
</launch>

